<div class="container-fluid">
    <h2 class="text-left">Trending Movies</h2>
    <div class="row mt-3">
     <div class="col-6">
       <!-- <input class="form-control mr-sm-2" type="search" (ngModelChange)="onChangeInp($event)" [(ngModel)]="enteredKey" placeholder="Search" aria-label="Search"> -->
       <div class="dropdown">
         <input class="form-control mr-sm-2" type="search" (ngModelChange)="onChangeInp($event)" [(ngModel)]="enteredKey" placeholder="Search" aria-label="Search">
         <ul class="dropdown-menu" [ngClass]="displayMenu ? 'dropdown-menu show':'dropdown-menu'" aria-labelledby="dropdownMenuButton1">
           <li *ngFor="let word of keyWordList" (click)="onClickDropDownItem(word.name)"><a class="dropdown-item" >{{word.name}}</a></li>
         </ul>
       </div>
 
     </div>
     <div class="col-3">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchMovie()">Search</button>
     </div>
     <div class="col-3">
        <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="redirectToFavMovies()"><i class="bi bi-heart-fill"></i> Go To Favourites</button>
     </div>
    </div>
 
    <div class="row mt-3">
      <div class="card mt-2 mb-2 g-2" style="width: 18rem; cursor: pointer;" *ngFor="let movie of moviesList" (click)="onClickMovie(movie.id)" >
        <img [src]="'https://image.tmdb.org/t/p/w220_and_h330_face'+movie.poster_path" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.original_language}}</p>
        </div>
      </div>
 
    </div>
 
 
 </div>